{:paths ["src"]
 :deps {io.github.kotoba-lang/kotobase-storage
        {:git/url "https://github.com/kotoba-lang/kotobase-storage.git"
         :git/sha "c90bc824749fd9afa0799d5e4d74b864647d6280"}
        ;; kotobase.storage.ipfs-kotobase + bin/large_put.cljs only --
        ;; the neutral ipfs.cljs adapter above needs none of these.
        io.github.kotoba-lang/io-multiformats
        {:git/url "https://github.com/kotoba-lang/io-multiformats.git"
         :git/sha "c5963264a8da78ece878b04da18225abdbb84457"}
        io.github.kotoba-lang/tech-ipfs-specs-unixfs
        {:git/url "https://github.com/kotoba-lang/tech-ipfs-specs-unixfs.git"
         :git/sha "7370c94ecc22ffd88f4cb0040ae2407bf3a9d4c7"}
        io.github.kotoba-lang/io-ipld
        {:git/url "https://github.com/kotoba-lang/io-ipld.git"
         :git/sha "daa1fec747af6919b28993278425393c8cc3a277"}
        io.github.kotoba-lang/io-ipld-car
        {:git/url "https://github.com/kotoba-lang/io-ipld-car.git"
         :git/sha "d4f4ea9d7ec16e78d42a02cf3745625a5827fbbf"}
        io.github.kotoba-lang/dev-protobuf
        {:git/url "https://github.com/kotoba-lang/dev-protobuf.git"
         :git/sha "3f20b1e1cdbe89750d8afaf24f64777a2f170c3c"}
        io.github.kotoba-lang/org-ietf-cbor
        {:git/url "https://github.com/kotoba-lang/org-ietf-cbor.git"
         :git/sha "cf2066f8dfa67a2934365519745231b4f1673a1a"}
        ;; kotobase.storage.ipfs-kubo only -- a real Kubo HTTP RPC/gateway
        ;; client, pure-core-over-injected-IHttp. See ADR-2608281000 Decision 2.
        io.github.kotoba-lang/io-ipfs
        {:git/url "https://github.com/kotoba-lang/io-ipfs.git"
         :git/sha "13b40ce06b816e0fcf8069b2e6a86d5c08ff946b"}
        ;; kotobase.storage.ipfs-native only -- real TCP socket I/O +
        ;; EDN framing (kubo-independent, no npm SDK, no separate daemon).
        io.github.kotoba-lang/wire
        {:git/url "https://github.com/kotoba-lang/wire.git"
         :git/sha "bda40f1514569fb6557eee6fac04c378da69b1f0"}
        ;; kotoba.net.bitswap's want/have intersection only -- pure,
        ;; transport-independent, reused unmodified.
        io.github.kotoba-lang/io-libp2p
        {:git/url "https://github.com/kotoba-lang/io-libp2p.git"
         :git/sha "4a0119f679ffe35a680e606e3ef9bb151dcba349"}}
 :aliases
 {:cljs-test {:extra-paths ["test" "bin"]
              :extra-deps {org.clojure/clojurescript
                           {:mvn/version "1.11.132"}}}}}
