{:paths ["src"]
 :deps {io.github.kotoba-lang/kotobase-storage
        {:git/url "https://github.com/kotoba-lang/kotobase-storage.git"
         :git/sha "c90bc824749fd9afa0799d5e4d74b864647d6280"}}
 :aliases
 {:cljs-test {:extra-paths ["test"]
              :extra-deps {org.clojure/clojurescript
                           {:mvn/version "1.11.132"}}}}}
